<div id="<%= dom_id idea %>" class="idea">
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">Description:</strong>
    <span id="freeagent"> <%= idea.description %> </span>
  </p>

  <p>
    <strong class="label" id="picture-label">Picture:</strong>
    <img src="<%= idea.picture %>">
  </p>

</div>
